* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
form {
    text-align: center;
}
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}
.header {
    margin: 40px 20px 150px 20px;
    font-size: 0;
    text-align: center;
    height: 45px;
    vertical-align: center;
}
.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    line-height: 50px;
    height: 100px; 
}
.logo {
    width: 20%;
    height: 100px;
}
.navbar {
    width: 60%;
    text-align: center;
}
.actions {
    width: 20%;
    font-size: 14px;    
}
.actions > * {
    margin: 0 10px;   
}
.actions > a {
    width: 20%;
    color: #67b54b;
}
.actions > button {
    color: white;
    background-color: #67b54b;
    padding: 12px 14px;
    border-radius: 5px;
    border: none;
}
li {
    display: inline;
    margin: 25px;
    color: #025157;
}
body {
    margin: 0;
    background-color: #fffbf7;
    text-align: center;
}
h1 {
    color: #025157;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Alegreya', serif;
}
h4 {
    text-align: center;
    color: #46484c;
    margin: 15px 0px;
}
button {
    color: #fff;
    background-color: #025157;
    height: 45px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;         
}
input {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 45px;
    margin-right: -5px;
    border: 1px solid #c6c6c6;
    padding: 0 5px;
}
.main {
    margin-top: 285px;
    text-align: center;
}
.main .Banner {
    margin-top: 25px;
    text-align: center;
}
.main .second_banner {
    margin-top: 25px;
    text-align: center;
}
.main .second_banner img {
    width: 60%;
}
.main .gray-text {
    color: #a6a6a6;
    text-align: center;
    margin-top: 15px;
}
/* Section Publish */
.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}
.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.explanatory-video img {
    width: 120px;
    margin-top: 10px;   
}
.publish {
    flex-direction: column;
    text-align: left;
    flex: 1;
}
.publish h3 {
    color: #025157;
    font-family: 'Alegreya', serif;
    font-size: 40px;
    margin-top: -8%;
}
.publish p {
    color: #343434;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.publish > form {
    display: flex;
}
.publish > form p {
    font-size: 16px;
    color: #025157;
    font-size: 18px;
}

