* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
form {
    text-align: center;
}
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}
.header {
    margin: 40px 20px 150px 20px;
    font-size: 0;
    text-align: center;
    height: 45px;
    vertical-align: center;
}
.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    line-height: 50px;
    height: 100px; 
}
.logo {
    width: 20%;
    height: 100px;
}
.navbar {
    width: 60%;
    text-align: center;
}
.actions {
    width: 20%;
    font-size: 14px;    
}
.actions > * {
    margin: 0 10px;   
}
.actions > a {
    width: 20%;
    color: #67b54b;
}
.actions > button {
    color: white;
    background-color: #67b54b;
    padding: 12px 14px;
    border-radius: 5px;
    border: none;
}
li {
    display: inline;
    margin: 25px;
    color: #025157;
}
body {
    margin: 0;
    background-color: #fffbf7;
}
h1 {
    color: #025157;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Alegreya', serif;
}
h4 {
    text-align: center;
    color: #46484c;
    margin: 15px 0px;
}
button {
    color: #fff;
    background-color: #025157;
    height: 45px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;         
}
input {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 45px;
    margin-right: -5px;
    border: 1px solid #c6c6c6;
    padding: 0 5px;
}
.main {
    margin-top: 285px;
    text-align: center;
}
.main .Banner {
    margin-top: 25px;
    text-align: center;
}
.main .second_banner {
    margin-top: 25px;
    text-align: center;
}
.main .second_banner img {
    width: 80%;
}
.main .gray-text {
    color: #a6a6a6;
    text-align: center;
    margin-top: 15px;
}
.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}
.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.explanatory-video img {
    width: 120px;
    margin-top: 10px;   
}
.publish {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.publish h3 {
    color: #025157;
    font-family: 'Alegreya', serif;
    font-size: 40px;
    margin-top: -8%;
}
.description {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 0px;
}
.start  {
    font-size: 18px;
    color: #025157;
    text-align: left;
}
.start-trial  {
    text-align: left;
}
/* Sesion 4 */
.features {
    background-color: #025157;
    padding: 5% 10%;
    display: grid;
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
}
.features .feature-card {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.features .feature-card .feature-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
}
/* .features .feature-card .feature-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
} */
.features .feature-card .feature-content img {
    width: 50px;
}
.features .feature-card .feature-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
}
.features .feature-card .feature-content p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
}
.features .feature-card .feature-content a {
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}
.features .feature-card .feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
}
.features .feature-card .feature-image figure,
.features .feature-card .feature-image img {
    margin-top: 0;
    height: 100%;
}